.todolist__submit {
  margin: 0 0 0 10px;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 21px;
  border: 0;
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .todolist__submit {
    font-size: 20px;
    padding: 16px;
  }
}

@media screen and (max-width: 600px) {
  .todolist__submit {
    font-size: 16px;
    padding: 12px;
  }
}

@media screen and (max-width: 480px) {
  .todolist__submit {
    font-size: 14px;
    padding: 8px;
  }
}
