.todolist__counter {
  display: block;
  width: 100%;
  color: #fff;
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.2;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .todolist__counter {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .todolist__counter {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .todolist__counter {
    font-size: 16px;
  }
}
