.todolist__item {
  display: flex;
  padding: 40px;
  border: 1px solid #6f6f6f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.todolist__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .todolist__item {
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .todolist__item {
    padding: 20px;
  }
}
