.todolist {
  width: 700px;
  min-width: 280px;
  max-width: 700px;
  margin: 0 auto;
  padding: 96px 0 12px;
}

@media screen and (max-width: 800px) {
  .todolist {
    width: calc(100% - 30px * 2);
    padding-top: 50px;
  }
}
