.todolist__title {
  margin: 0 0 54px 0;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .todolist__title {
    font-size: 45px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .todolist__title {
    font-size: 30px;
  }
}
