.todolist__error {
  visibility: hidden;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 5px));
  -webkit-transform: translateY(calc(100% + 5px));
  -moz-transform: translateY(calc(100% + 5px));
  -ms-transform: translateY(calc(100% + 5px));
  -o-transform: translateY(calc(100% + 5px));
  color: #f00;
}

.todolist__input_error:focus + .todolist__error {
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .todolist__error {
    font-size: 12px;
  }
}
